@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900');
html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  background: linear-gradient(120deg, #FFD700, #fb7a22);
}
.header-top {
 display: flex;
 justify-content: space-between;
 align-items: center;
 border-bottom: 1px solid rgba(0,0,0,0.1);
}
#header-logo {
  height: 100%;
}
#header-logo a{
  text-decoration: none;
  color: #000;
  margin: 1em 1em 1em 2em;
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: 900;
}
#header-cart button {
  border: 1px solid grey;
  border-radius: 28px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  background: #fff;
  padding: 1em;
  margin: 1em 2.5em 1em 1em;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  width: 8.5em;
  cursor: pointer;
}
#nav-bar {
  display: flex;
  text-transform: uppercase;
}
#nav-bar ul {
  display: flex;
  width: 55%;
  margin: 2.7em;
}
#nav-bar li {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#nav-bar a {
  color: #000;
  text-decoration: none;
  font-size: .9em;
}
#nav-bar a:hover {
  text-decoration: underline;
}
#hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 75vh;
  margin-bottom: 4em;
}
#hero .hero-name-container {
  display: grid;
  grid-template-rows: 1fr 100px 1fr;
  align-items: center;
  padding: 2em;
}
#hero h1 {
  font-size: 5em;
  font-weight: 800;
  text-transform: uppercase;
  align-self: end;
}
#hero p {
  align-self: start;
  font-size: 1.2em;
}
#hero button {
  align-self: start;
  border: 1px solid grey;
  border-radius: 28px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  background: #fff;
  padding: .5em;
  text-align: center;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 900;
  width: 20em;
  height: 6em;
  cursor: pointer;
}
#hero button:hover,
#header-cart button:hover {
  transition: background-color 0.2s ease-in;
  background-color: #fb7a22;
  color: white;
}
.hero-img-container {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.2em;
}
#hero-img {
  width: 100%;
}