html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  background: linear-gradient(120deg, #FFD700, #fb7a22);
}
h2 {
  text-align: center;
  margin: 1em;
  padding: 1em;
  font-size: 3em;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
#header-logo {
  height: 100%;
}
#header-logo a{
  text-decoration: none;
  color: #000;
  margin: 1em 1em 1em 2em;
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: 900;
}
#header-cart button {
  border: 0;
  border-radius: 28px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  background: #fff;
  padding: 1em;
  margin: 1em 2.5em 1em 1em;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  width: 8.5em;
  cursor: pointer;
  outline: none;
}
#nav-bar {
  display: flex;
  text-transform: uppercase;
}
#nav-bar ul {
  display: flex;
  width: 55%;
  padding: 2.7em;
}
#nav-bar li {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#nav-bar a {
  color: #000;
  text-decoration: none;
  font-size: .9em;
}
#nav-bar a:hover {
  text-decoration: underline;
}
#hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 75vh;
  margin-bottom: 4em;
}
#hero .hero-name-container {
  display: grid;
  grid-template-rows: 1fr 100px 1fr;
  align-items: center;
  justify-content: end;
  padding: 2em;
}
#hero h1 {
  font-size: 5em;
  font-weight: 800;
  text-transform: uppercase;
  align-self: end;
}
#hero p {
  align-self: start;
  font-size: 1.2em;
}
#hero button {
  align-self: start;
  border: 0;
  border-radius: 28px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  background: #fff;
  padding: .5em;
  text-align: center;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 900;
  width: 20em;
  height: 6em;
  cursor: pointer;
  outline: none;
}
#hero button:hover,
#header-cart button:hover {
  transition: background-color 0.2s ease-in;
  background-color: #fb7a22;
  color: white;
}
.hero-img-container {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.2em;
}
#hero-img {
  width: 100%;
}
.featured-container .featured {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-content: center;
  padding: 0 2em;
  margin-bottom: 2em;
}
.featured-img {
  text-align: center;
}
.featured-img img {
  width: 100%;
  padding: .7em;
}
#featured-gear .featured-img img {
  width: 100%;
  height: auto;
}
.video-container {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.video-container h2 {
  margin-bottom: 0;
}
.video-container p {
  font-size: 1.3em;
  margin-bottom: .5em;
}
#video {
  height: 315px;
  width: 560px;
}
.form-container {
  background-color: #fff;
  box-shadow: 5px 12px 5px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin: 8em;
  text-align: center;
}
.form-container .email-message {
  font-size: 3em;
  padding: 1em;
}
.form-container label {
  font-size: 2em;
  margin-right: .3em;
}
.form-container #email {
  width: 300px;
  line-height: 2;
  font-size: 1.2em;
}
.form-container #submit {
  border: 1px solid grey;
  border-radius: 28px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  background: #fff;
  padding: 1em;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  width: 8.5em;
  cursor: pointer;
}
.form-container #submit:hover {
  transition: background-color 0.2s ease-in;
  background-color: #fb7a22;
  color: white;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  margin: 1.5em;
}
@media screen and (min-width: 320px) and (max-width: 760px) {
  #header-logo {
    font-size: .6em;
  }
  #header-cart button {
    width: 60%;
    text-align: center;
    font-size: .6em;
  }
  #nav-bar ul {
    width: 100%;
    padding: 1em;
  }
  #hero,
  #featured-guitars .featured,
  #featured-gear .featured {
    grid-template-columns: auto;
  }
  #hero .hero-name-container {
    padding: 1em;
    justify-content: center;
  }
  #hero .hero-name-container button {
    align-self: center;
    justify-self: center;
  }
  #hero h1 {
    font-size: 3em;
  }
  .hero-img-container {
    display: none;
  }
  h2 {
    margin: 1em;
    padding: 1em;
    font-size: 2em;
  }
  #video {
  height: 315px;
  width: 100%;
  padding: 0 1em;
}
  .form-container {
    width: 100%;
    margin: 2em auto;
  }
  .form-container .email-message {
    font-size: 2em;
  }
  #form label {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2em;
  }
  #form #submit {
    margin-top: 1em;
  }
  .footer-container {
    flex-wrap: wrap;
  }
  .footer-container p {
    margin: 1em;
  }
}
@media screen and (min-width: 1450px) {
  #hero h1 {
    font-size: 4em;
  }
}